/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol{
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a{
  text-decoration: none;
  border:0px;
  color:white;
}

a:after{
  text-decoration: none;
  border:0px;
  color:white;
}


a:visited{
  text-decoration: none;
  border:0px;
  color:white;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');


body{
    background-color: #393939;
    font-family: 'Montserrat', sans-serif;
}


.carcass{
    max-width:1280px;
    margin:auto;
    margin-top: 20px;
    padding:20px 40px 20px 60px;
    /* border:1px solid white; */
    border-radius: 10px 10px 0px 0px;
    background-color: #202020;
    height:auto;
}


/* Flex верстка  */
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-item{
    /* border:1px solid green; */
    color:white;
    /* font-size: 35px; */
    position: relative;
    
}


/* 1 flex */
.item-1{
  max-width: 1200px;
  height: 120px;
  /* padding: 20px 10px 20px 20px; */
  margin-bottom: 14px;
}

.item-1 img{
  display:inline;
  float:left;
  /* margin-left: 70px; */
  /* margin-top: 13px; */
}

.item-1 ul{
  list-style: none;
  display: inline;
  float: right;
  min-width: 60%;
  width: auto;
  margin: auto;
  margin-top: 73px;
  margin-right: 10px;
  
  font-variant: all-petite-caps;
}

.item-1 ul li{
  display: inline;
  float: left;
  margin-right:30px;
}

.item-1 ul li:nth-child(3){
  display: inline;
  float: left;
  margin-right:100px;
}

.item-1 ul li:hover{
border-bottom: 1px solid #ffc000;
}

.item-1 ul li:nth-child(4):hover{
  border-bottom: 0px solid #ffc000;
  }

.item-1 div{
  display: inline-block;
  float: left;
  /* margin-top: 4%;
  margin-right:40px; */
  
}

.phone{
  font-weight: bolder;
  /* margin-top: 48px;
  margin-right: 57px; */
}

.callback{
  padding: 10px 20px 10px 20px;
  background: #333333;
  margin-top: -10px;
  font-variant: all-petite-caps;
}

.callback:hover{
  padding: 10px 20px 10px 20px;
  background: #FFC000;
  margin-top: -10px;
  font-variant: all-petite-caps;
}

.logo-div{
    display: block;
    float: left;
    width: 200px;
    height: 100px;
    border: 1px solid white;
    
}

/* 2 flex */
.item-2{
  padding: 40px 0px 30px 0px;
  margin-bottom: 29px;
}

.item-2 div{
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.item-2 div ul{
padding-left: 0px;
margin-top:60px;
}

.item-2 div ul li{
  font-size: 30px;
}

.item-2 div:nth-child(2) img{
float: right;
padding-right: 40px;
}

/* 3 flex */
.item-3{
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
}

/* 4 flex */
.item-4{
  padding: 30px 0px 30px 0px;
}

.item-4-left-div{
width:50%;
float:left;
}

.item-4-right-div{
  width:44%;
  float:left;
  margin-top: 9%;
}

.item-4-right-div ul li{
  margin-bottom:10px;
}

.about-us-flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-us-flex-item{
  width:50%;
  padding-right:57px;
}

.about-us-flex-container ul li:first-child{
  font-size: 20px;
  color: #ffc000;
  line-height: 36px;
  font-variant: all-petite-caps;
}

.icon-1{
  display: inline;
  float: left;
  top: 155px;
  position: absolute;
  width:30px;
}

.icon-2{
  display: inline;
  float: left;
  top: 155px;
  position: absolute;
  width:30px;
}

.icon-3{
  display: inline;
  float: left;
  top: 295px;
  position: absolute;
  width: 26px;
}

.icon-4{
  display: inline;
  float: left;
  top: 295px;
  position: absolute;
  width: 26px;
}

/* 5 flex */
.item-5{
  padding: 30px 0px 30px 0px;
}

.baffs-flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 60px;
  float: left;
}

.baffs-flex-item{
  width:33.33%;
}

.baffs-flex-item ul{
  padding-left:0px;
}

.baffs-flex-container ul li:first-child{
  font-size: 20px;
  color: #ffc000;
  line-height: 36px;
  font-variant: all-petite-caps;
}

.item-5-left-div{
  width:50%;
  float:left;
  margin-bottom: 30px;
}
  
.item-5-right-div{
    width:50%;
    float:left;
    padding-left: 50px;
  }

  .item-5-left-div ul {
    padding-left:0px;
    width:85%;
  }

  .item-5-right-div ul{
    padding-left:0px;
    margin-bottom: 50px;
  }

  .item-5-right-div ul li{
    margin-bottom: 10px;
  }


  /* 6 flex */
.item-6{
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
}

/* 7 flex */
.item-7{
  padding: 30px 0px 30px 0px;
}

.catalog-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}

.catalog-flex-item{
  width:24%;
  border:3px solid #252525;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:350px;
}

.catalog-flex-item img{
max-width: 75%;
}

/* FOOTER */
.footer{
  padding: 30px 0px 30px 0px;
  background-color: #2b2b2b;
  color:white;
  max-width: 1280px;
  margin:auto;
  margin-bottom:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-child{
  width: 33.33%;
  padding: 0 5% 0 5%;
}

.flex-child ul{
  font-size:14px;
}

.footer div:first-child{
text-align: -webkit-center;
}

.flex-child strong{
 font-weight: 100;
 font-size:14px;
}

.flex-child h3{
  font-size: 20px;
  color: #ffc000;
  line-height: 66px;
  font-variant: all-petite-caps;
  /* margin-bottom:30px; */
}

.footer .flex-child:nth-child(2) ul {
  padding:0;
}

.footer .flex-child:nth-child(2) ul li{
  text-align: center;
}

.footer .flex-child:nth-child(3) ul {
  margin-left:17%;
  margin-bottom:8%;
}

.social-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 11%;
  }


.footer-callback{
  padding: 10px 20px 10px 20px;
  background: #333333;
  margin-top: 0px;
  font-variant: all-petite-caps;
  margin-left: 20%;
}


.footer-callback:hover{
  padding: 10px 20px 10px 20px;
  background: #FFC000;
  margin-top: 0px;
  font-variant: all-petite-caps;
  margin-left: 20%;
}


.social-footer a img{
  width:15px;
}

/* images */

.logo{
    max-width: 200px;
}


/* Content props */

h1{
  font-size: 70px;
  color: #ffc000;
  line-height: 66px;
  font-variant: all-petite-caps;
}

h2{
  font-size: 50px;
  color: #ffc000;
  line-height: 66px;
  font-variant: all-petite-caps;
  margin-bottom:30px;
}

h3{
  text-align: center;
  font-weight: 100;
}

.button-1{
  padding: 10px 20px 10px 20px;
  background: #FFC000;
  margin-top: -10px;
  font-variant: all-petite-caps;
  color:black;
}

.button-1:hover{
  padding: 10px 20px 10px 20px;
  background: #FFC000;
  margin-top: -10px;
  font-variant: all-petite-caps;
  color:white;
}

.button-2{
  padding: 10px 20px 10px 20px;
  background: #FFC000;
  margin-top: -10px;
  font-variant: all-petite-caps;
  color:black;
}

.button-2:hover{
  padding: 10px 20px 10px 20px;
  background: #FFC000;
  margin-top: -10px;
  font-variant: all-petite-caps;
  color:white;
}

.button-3{
  padding: 10px 46px 10px 46px;
  background: #333333;
  margin-top: -10px;
  font-variant: all-petite-caps;
  color:white;
}

.button-3:hover{
  padding: 10px 46px 10px 46px;
  background: #575757;
  margin-top: -10px;
  font-variant: all-petite-caps;
  color:white;
}

.button-4{
  position:fixed;
  width:60px;
  height:60px;
  border:1px solid white;
  right: 9%;
  top:90%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-top: 10px;
}